{% extends 'delivery_person/includes/base.html' %}
{% load static %}
{% block content %}

{% if not deliverys %}
<div class="mt-2 mb-5">
    <h6 class="text-center text-success">No Accepted Deliveries </h6>
    <br>
    <div class="text-center">
        <a href="{% url 'assiged_delivery' %}" class="btn btn-warning">
            <p style="color: white;">Check for Delivery</p>
        </a>
    </div>
</div>
{% else%}
<!-- Delivery Map -->

<!-- Delivery Confirmation -->
<div style=" position: fixed;
bottom: 65px;
left: 5px;
right:5px;
display: block;" id="order">
    {% for delivery in deliverys %}
    <div id="map" style="height: 300px ; width: 100% "></div>
    <div class="card-body border">
        <div class="row">
            <div class="col-md-6">
                <h6>
                    Order Number: {{delivery.order.order_number}}, By: {{delivery.reciver.first_name}}
                    {{delivery.reciver.last_name}}
                </h6>
                <hr>
                <i class="fa fa-phone text-muted" aria-hidden="true"><b> Reciver's phone_number:</b>
                    0{{delivery.reciver.phone_number}} </i>
            </div>
            <div class="col-md-6">
                <i class="fa fa-location-arrow text-muted" aria-hidden="true"><b> total distance:
                        {{min_covered_distance}} Km</b> </i>
                <br><i class="fa fa-usd  text-muted" aria-hidden="true"><b> price:</b> {{delivery.order.order_total}}
                    birr</i>
                <hr>
                <i class="fa fa-map-marker text-muted" aria-hidden="true">
                    <b> buyer's Location:</b> {{location}}
                </i>
            </div>
        </div>
        <a class="btn btn-success btn-block mt-2 " onclick="forOrder()" style="color: white;">Confirm Delivery</a>
    </div>
    {% endfor %}
    {% endif%}
</div>
<!--End of Delivery Map -->
<!--QR- Scanner-->
<div class="container mt-5" style="display: none;" id="qr">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <a onclick="forQr()" href="" style="text-decoration: none;" class="text-muted">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
                    <h5 class="text-center">Confirm Order By QR Code</h5>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <video id="video" width="100%" height="100%"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6">
            <button class="btn btn-primary btn-block" onclick="scanQRCode()">Scan QR Code</button>
        </div>
    </div>
</div>
<!--End of Qr scanner-->

<!--Scan and Confirm Js-->
{% for delivery in deliverys %}
<script>
    const video = document.getElementById('video');
    const codeReader = new ZXing.BrowserQRCodeReader();
    let isQRCodeScanned = false;

    const scanQRCode = () => {
        if (!isQRCodeScanned) {
            isQRCodeScanned = true;
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {

                    video.srcObject = stream;
                    video.play();
                    codeReader.decodeFromVideoDevice(undefined, 'video', (result) => {
                        // if (result.text == '{{delivery.order.order_number}}') {
                        if (result && result.text == '{{delivery.order.order_number}}') {
                            $.ajax({

                                url: "{% url 'confirm_delivery' %} ",
                                method: 'POST',
                                data: JSON.stringify({ result: result.text, distance: '{{min_covered_distance}}' }),
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },

                                success: function (data) {
                                    alert("Congragulation's your Delivery is Sucessfuly Completed ");
                                    resetQRCodeScan();
                                    window.location.href = "{% url 'delivery_profile' %}";
                                },
                                error: function (xhr, status, error) {
                                    console.log('Error updating database:', error);
                                }
                            });

                        }
                    }, (error) => {
                        console.log(error);

                    });
                })
                .catch(error => {
                    console.log(error);
                });
        }
    }

    const resetQRCodeScan = () => {
        isQRCodeScanned = false;
    }
</script>
{% endfor %}
<!--Display scanner Js-->
<script>
    const order = document.getElementById("order");
    const qr = document.getElementById("qr");
    function forOrder() {
        order.style.display = 'none';
        qr.style.display = 'block';
    }
    function forQr() {
        order.style.display = 'block';
        qr.style.display = 'none';
    }
</script>

<!--Map Js-->

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh40OvYV5OYX3OLPJb3meMuCecYKiAIvY&callback=initMap" async
    defer></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: { lat: parseFloat('{{ route_coordinates.0.0 }}'), lng: parseFloat('{{ route_coordinates.0.1 }}') }  // Set the center coordinates of the map to the first point in the route
        });
        var routeCoordinates = [];
        ' {% for coordinate in route_coordinates %}'
        var coordinateObj = { lat: parseFloat('{{ coordinate.0 }}'), lng: parseFloat('{{ coordinate.1 }}') };
        routeCoordinates.push(coordinateObj);
        '  {% endfor %}'

        //  routeCoordinates.unshift({ lat: parseFloat('{{ dest_latitude }}'), lng: parseFloat('{{ dest_longitude }}') });

        var routePath = new google.maps.Polyline({
            path: routeCoordinates,
            geodesic: true,
            strokeColor: '#F2A900',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        routePath.setMap(map);
        // Add markers to the map

        //custom
        '{% for marker in markers %}'
        new google.maps.Marker({
            position: { lat: parseFloat('{{ marker.latitude }}'), lng: parseFloat('{{ marker.longitude }}') },
            map: map,
            icon: {
                url: '{{ marker.icon.url }}',
                scaledSize: new google.maps.Size('{{ marker.icon.scaledSize.0 }}', '{{ marker.icon.scaledSize.1 }}')
            }
        });
        ' {% endfor %}'
    }

</script>
{% endblock %}
{% endblock %}