{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-conten padding-y bg">

	{% include 'includes/alerts.html' %}
	<div class="container">
		<div class="row">
			<aside class="col-md-3">
				<!--   SIDEBAR   -->
				<ul class="list-group">
					<a class="list-group-item active" id="adashbord" onclick="fordashbord()" href="#"> My Orders </a>
					<a class="list-group-item inactive " id="aprofile" href="#" onclick="forprofile()"> Profile </a>
					<a class="list-group-item inactive " id="aitem" href="#" onclick="foritem()"> Purchases </a>
				</ul>
				<br>
				<a class="btn btn-danger btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span
						class="text">Log out</span> </a>
				<!--   SIDEBAR .//END   -->
			</aside>
			<!--Orders-->
			<div class="col-md-9" id="order" style="display: block;">
				<article class="card">

					<div class="card-body">
						<div class="row">
							<div class="col-md-8">
								<h6 class="text-muted">Delivery to</h6>
								<p>
									{{user.buyer.first_name}} {{user.buyer.last_name}}, <b>Email</b>: {{user}} <br>


								</p>
							</div>
							<div class="col-md-4">
								<h6 class="text-muted">Payment</h6>
								<span class="text-info">
									<i class="fa-solid fa-money-check-dollar"></i>
									YenePay **** 4216
								</span>
								<br>

								<span class="b">@Engebeyay</span>
								</p>
							</div>
						</div>
						<br>
						{% if not orders %}
						<div class="mt-2 mb-5">
							<hr>
							<h6 class="text-center">You haven't Ordered any item</h6>
							<br>
							<div class="text-center">
								<a href="{% url 'cart' %}" class="btn btn-warning">Go to Cart</a>
							</div>
						</div>
						{% else%}
						<div class="container">
							<strong class="d-inline-block mr-3 mb-1">Your Orders</strong>
							<div class="card-body border">

								{% for order in orders %}
								<div class="row">
									<div class="col-md-9">
										<p>
											<b>Order Number</b>: {{order.order_number}} | <b>Order Total</b>:
											{{order.order_total}} birr<br>
											<b>Order Date</b>: {{order.date_added}}
										</p>
									</div>
									<div class="col-md-3">
										{% if order.status == "Completed" %}
										<form action="{% url 'cancel_order' %}" method="post">
											{% csrf_token%}
											<input type="hidden" name="order_num" value="{{order.order_number}}">
											<input type="hidden" name="order_total" value="{{order.order_total}}">
											<input
												onclick="return confirm('Are you sure you want to cancel order {{order.order_number}}?')"
												type="submit" class="btn btn-danger btn-sm" value="Cancel your order">
										</form>
										{% endif %}
									</div>
								</div>
								<hr>
								<div class="row flex-wrap">
									{% for orderditem in orderditems %}
									{% if orderditem.order.order_number == order.order_number %}
									<div class="col-lg-4 mb-3">
										<div class="card-body">
											<div class="d-flex align-items-center mb-4">
												<div class="me-3 position-relative">
													<img src="{{ orderditem.product.images.url }}"
														style="height: 96px; width: 96x;"
														class="img-sm rounded border" />
												</div>
												<div class="">
													<a href="#" class="nav-link">
														{{orderditem.product.product_name}} <br>
														from {{orderditem.product.category}}
													</a>
													<div class="ml-1 price text-muted">Quantity:
														{{orderditem.quantity}}</div>
													<div class="ml-1 price text-muted">
														Price: {{orderditem.product_price}} birr
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
									{% endfor %}
								</div>
								<hr>
								{% endfor %}

							</div>
							{% endif %}
						</div>

				</article>
			</div>
			<!-------------------------------Buyer's Profile------------------------------------->
			<div class="col-md-9" id="profile" style="display: none;">
				<article class="card">

					<div class="card-body">
						<form action="{% url 'buyer_profile_update' %}" method="POST">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<p class="card-description">Name: {{user.buyer.first_name}}
										{{user.buyer.last_name}}</p>
									<p class="card-description">Date Joined: {{user.date_joined}}</p>
								</div>
								<div class="col-md-6">
									<p class="card-description">Email: {{user.email}} </p>
								</div>
							</div> <br>
							<header class="card-header ">
								<strong class="d-inline-block mr-3">Update Profile</strong>
							</header>
							<br>
							<div class="row">

								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">First Name</label>
										<div class="col-sm-9">
											<input type="text" name="first_name" value="{{user.buyer.first_name}}"
												class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Last Name</label>
										<div class="col-sm-9">
											<input type="text" name="last_name" value="{{user.buyer.last_name}}"
												class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Phone No.</label>
										<div class="col-sm-9">
											<input type="number" name="phone_number" value="{{user.buyer.phone_number}}"
												class="form-control" />
										</div>
									</div>
								</div>

							</div>
							<button type="submit" class="btn btn-warning">Save</button>
						</form>
						<br>
						<header class="card-header ">
							<strong class="d-inline-block mr-3">Change Password</strong>
						</header>
						<form class="form-sample" action="{% url 'buyer_change_password' %}" method="post">
							{% csrf_token %}
							<br>
							<div class="col-md-8">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">New Password</label>
									<div class="col-sm-9">
										<input type="password" name="password" id="id_password" class="form-control"
											onkeyup="checkPasswords()" />
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Confirm Password</label>
									<div class="col-sm-9">
										<input type="password" name="confirm_password" id="id_confirm_password"
											class="form-control" onkeyup="checkPasswords()" />
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group row">
									<div class="col-sm-9 offset-sm-3">
										<small id="password-feedback"></small>
									</div>
								</div>
							</div>

							<button type="submit" class="btn btn-warning me-2">Update</button>
							<button class="btn btn-light">Cancel</button>
						</form>


					</div> <!-- card-body .// -->
				</article> <!-- order-group.// -->
			</div>
			<!--------------------------------Purchased Items-->
			<div class="col-md-9" id="purchases" style="display: none;">
				<article class="card">
					<header class="card-header ">
						<strong class="d-inline-block mr-3">All Purchased Items</strong>
					</header>
					<div class="table-responsive">
						{% if not got_orderditems %}
						<div class="mt-2 mb-5">
							<h6 class="text-center">You haven't purchased any item</h6>
							<br>
							<div class="text-center">
								<a href="{% url 'store' %}" class="btn btn-warning">Go Shopping</a>
							</div>
						</div>
						{% else %}
						{% for orderditem in got_orderditems %}
						<table class="table table-hover">
							<tr>
								<td width="65">
									<img src="{{orderditem.product.images.url}}" class="img-xs ">
								</td>
								<td>
									<p class="title mb-0">{{orderditem.product.product_name}} </p>
								</td>
								<td> <var class="price text-muted"></var> From:
									{{orderditem.product.owner.buisness_name}}</var>
								</td>
								<td>
									At a Price: {{orderditem.product.price}} birr Qty:
									{{orderditem.quantity}}
								</td>

								<td> Payment: YenePay
								</td>

							</tr>

						</table>
						{% endfor %}
						{% endif %}
					</div> <!-- table-responsive .end// -->
				</article> <!-- order-group.// -->
			</div>
		</div> <!-- row.// -->
	</div>
</section>
<!--Dispaly-->
<script>
	const dashbord = document.getElementById("order");
	const profile = document.getElementById("profile");
	const item = document.getElementById("purchases");
	function fordashbord() {
		dashbord.style.display = 'block';
		profile.style.display = 'none';
		item.style.display = 'none';

		document.querySelector('#adashbord').classList.replace('inactive', 'active');
		document.querySelector('#aprofile').classList.replace('active', 'inactive');
		document.querySelector('#aitem').classList.replace('active', 'inactive');
	}
	function forprofile() {
		dashbord.style.display = 'none';
		profile.style.display = 'block';
		item.style.display = 'none';

		document.querySelector('#adashbord').classList.replace('active', 'inactive');
		document.querySelector('#aprofile').classList.replace('inactive', 'active');
		document.querySelector('#aitem').classList.replace('active', 'inactive');

	}
	function foritem() {
		dashbord.style.display = 'none';
		profile.style.display = 'none';
		item.style.display = 'block';

		document.querySelector('#adashbord').classList.replace('active', 'inactive');
		document.querySelector('#aprofile').classList.replace('active', 'inactive');
		document.querySelector('#aitem').classList.replace('inactive', 'active');


	}
</script>
<!--To check if the passwords match-->
<script>
	function checkPasswords() {
		var password = document.getElementById('id_password').value;
		var confirmPassword = document.getElementById('id_confirm_password').value;
		var feedback = document.getElementById('password-feedback');

		if (password === confirmPassword) {
			feedback.innerHTML = 'Passwords match.';
			feedback.classList.remove('text-danger');
			feedback.classList.add('text-success');
		} else {
			feedback.innerHTML = 'Passwords do not match.';
			feedback.classList.remove('text-success');
			feedback.classList.add('text-danger');
		}
	}
</script>

{% endblock %}