{% extends 'registration_base.html' %}


{% block content %}


<div class="container" style="margin-top: 50px;">
  <center><a style="width: 300px;" class="navbar-brand brand-logo" href="{% url 'home' %}"><img style="width: 250px;"
        src="../../static/admin/assets/images/logo.svg" alt="logo" /></a>
    </a></center>


</div>

<section class="section-content padding-y">

  <!-- ============================ COMPONENT REGISTER   ================================= -->
  <div class="card mx-auto" style="max-width:520px;">
    <article class="card-body">

      <header class="mb-4">
        <h4 class="card-title">Sign up as a Seller</h4>
      </header>
      <form id="seller-register-form" action="{% url 'seller_register' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
          {% for field in form %}
          {% for error in field.errors %}
          <strong>{{ field.label }}:</strong> {{ error }}
          {% endfor %}
          {% endfor %}
        </div>
        {% endif %}

        <div class="form-row">
          <div class="col form-group">
            <label for="{{ form.last_name.id_for_label }}">business name</label>
            {{ form.buisness_name }}
          </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="{{ form.email.id_for_label }}">Email Address</label>
            {{ form.email }}
          </div> <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
            {{ form.phone_number }}
          </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="{{ form.merchant_id.id_for_label }}">merchant_id </label>
            {{ form.merchant_id }}
          </div> <!-- form-group end.// -->
         
          <div class="form-group col-md-6">
            <label for="{{ form.merchant_id.id_for_label }}">Location </label>
            <input type="text"  class="form-control" id="seller-location" placeholder="Type address..." />
          </div> <!-- form-group end.// -->

          <div class="form-row">
            <div class="form-row">
              <div class="form-group col-md-6 d-none ">
                <label for="id_latitude">Latitude</label>
                {{ form.latitude }}
              </div>
              <div class="form-group col-md-6 d-none">
                <label for="id_longitude">Longitude</label>
                {{ form.longitude }}
              </div>
            </div>
          </div> <!-- form-row.// -->

          <div class="form-row">
            <div class="form-group col-md-6 ">
              <label for="{{ form.password1.id_for_label }}">Create password</label>
              {{ form.password1 }}
            </div> <!-- form-group end.// -->
            <div class="form-group col-md-6 ">
              <label for="{{ form.password2.id_for_label }}">Repeat password</label>
              {{ form.password2 }}
            </div> <!-- form-group end.// -->
          </div> <!-- form-row end.// -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="{{ form.verification_image.id_for_label }}">Add Verification Image ("stock certificates/ share ledgers ")</label>
              {{ form.verification_image }}
            </div>
            <div class="form-group ">

              <button type="submit" class="btn btn-primary btn-block"> Register </button>
            </div> <!-- form-group// -->
          </div>


          {{ form.email.errors }}
          {{ form.non_field_errors }}
      </form>
    </article><!-- card-body.// -->
  </div> <!-- card .// -->
  <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
  <br><br>
  <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>

<script
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBh40OvYV5OYX3OLPJb3meMuCecYKiAIvY">
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  var searchInput = 'seller-location';

  $(document).ready(function () {
    var autocomplete;
    autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
      componentRestrictions: {
        country: "ET"
      }
    });

    google.maps.event.addListener(autocomplete, 'place_changed', function (event) {
      var place = autocomplete.getPlace();
      var location = place.name;
      var latitude = place.geometry.location.lat();
      var longitude = place.geometry.location.lng();

      // Set the value of the hidden input fields to the selected place name, latitude, and longitude
      document.getElementById("seller-location").value = location;
      document.getElementById("id_latitude").value = latitude;
      document.getElementById("id_longitude").value = longitude;
    });
  });

  // Form submission
  $('#seller-register-form').submit(function (event) {
    // Get the selected place name, latitude, and longitude from the hidden input fields
    var location = document.getElementById("seller-location").value;
    var latitude = document.getElementById("id_latitude").value;
    var longitude = document.getElementById("id_longitude").value;

    // Set the values of the latitude and longitude fields in the form to the selected values
    document.getElementById("id_latitude").value = latitude;
    document.getElementById("id_longitude").value = longitude;
  });
</script>

{% endblock %}