{% extends '../admin_base.html' %}
{% load static %}
{% block content %}

<!-- partial:partials/_sidebar.html -->

<!-- partial:partials/_sidebar.html -->
{% include 'includes/admin_sideNav.html' %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Engebeyay Ecommerce Platform</h4>
                    <form class="form-sample" method="post">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-md-6">
                                <p class="card-description">Contact Email: {{current_admin.contact_email}} </p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-description">Date Deployed: {{company.deployment_date}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-description">Contact Phone: {{company.contact_phone}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-description">Current Admin: {{company.current_admin}} </p>
                            </div>
                        </div> <br>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Location</label>
                                    <div id="map" style="width: 100%; height: 300px "></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <span>Backup Database <a href="#" class="btn btn-success">Backup DB!</a>
                                </span>
                            </div>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->
<script src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}"></script>

<script>
    function initMap() {
        const latitude = parseFloat("{{company.latitude}}");  // Replace with the desired latitude
        const longitude = parseFloat('{{company.longitude}}');  // Replace with the desired longitude

        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: latitude, lng: longitude },
            zoom: 13,
        });
        const marker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map,
            title: "Engebeyay's Location",  // Replace with the desired marker title
        });
    }
</script>
<script>
    // Load the map after the Google Maps JavaScript API has been loaded
    function loadMap() {
        if (typeof google === "undefined") {
            setTimeout(loadMap, 100);
        } else {
            initMap();
        }
    }
    loadMap();
</script>

</body>


</html>
{% endblock %}