{% extends '../admin_base.html' %}
{% load static %}
{% block content %}

<!-- partial:partials/_sidebar.html -->

<!-- partial:partials/_sidebar.html -->
{% include 'includes/admin_sideNav.html' %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    {% include 'includes/admin_alert.html' %}
                    <div class="card-body">
                        <h4 class="card-title">Add A New Payment</h4>
                        <div class="search-field d-none d-md-block ">

                        </div>
                        <div class="container">
                            <!--Add Category-->
                            <form class="form-sample" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Payment Method</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="method" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Payment Provider</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="provider" class="form-control primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Currency</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="currency" class="form-control primary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="number">Merchant ID</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="merchant_id" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button type="submit" class="btn btn-success btn-sm me-2">Add payment</button>
                                <button type="clear" class="btn btn-light btn-sm">Cancel</button>
                            </form>
                        </div>
                        <br>
                        <hr>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Avilable Payments</h4>
                        <div class="search-field d-none d-md-block ">


                        </div>
                        <div class="container">
                            <table class="table table-striped" id="myTablepayment">
                                <thead>
                                    <tr>
                                        <th><b> Type</b></th>
                                        <th> <b> Provider </b></th>
                                        <th> <b>Currency </b></th>
                                        <th> <b> Merchant Id </b></th>
                                        <th> <b>Action </b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                    <tr>
                                        <td> {{payment.payment_method}}</td>
                                        <td> {{payment.payment_provider}} </td>
                                        <td> {{payment.currency}} </td>
                                        <td> {{payment.merchant_id}} </td>
                                        <td> <a class="btn btn-sm btn-danger"
                                                href="{% url 'remove_companypayments' payment.payment_method %}"
                                                onclick="return confirm('Are you sure you want to Remove {{payment.payment_method}}?')">
                                                Remove </a>

                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->


{% endblock %}