{% extends '../admin_base.html' %}
{% load static %}
{% block content %}

<!-- partial:partials/_sidebar.html -->

<!-- partial:partials/_sidebar.html -->
{% include 'includes/admin_sideNav.html' %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Unverified Users</h4>
                        <div class="search-field d-none d-md-block ">


                        </div>
                        <div class="container">
                            <table class="table table-striped" id="myTablerefund">
                                <thead>
                                    <tr>
                                        <th><b> Email</b></th>
                                        <th><b> Role</b></th>
                                        <th> <b> Date Joined </b></th>
                                        <th> <b>Check verif-img </b></th>
                                        <th> <b>Action </b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td> {{user.email}} </td>
                                        {% if user.is_seller%}
                                        <td> Seller</td>
                                        {% elif user.is_delivery_company%}
                                        <td> Delivery_provider</td>
                                        {% endif %}

                                        <td> {{user.date_joined}} </td>
                                        <td>
                                            {% if user.seller %}
                                            {% if user.seller.verification_image %}
                                            <img class="verification-image"
                                                src="{{ user.seller.verification_image.url }}" alt="Verification Image"
                                                style=" width: 200px; 
                                                height: 150px; 
                                                object-fit: cover; 
                                                border-radius: 5px; ">
                                            {% endif %}
                                            {% elif user.is_delivery_company%}
                                            {% if user.deliverycompany.verification_image %}
                                            <img class="verification-image"
                                                src="{{ user.deliverycompany.verification_image.url }}"
                                                alt="Verification Image" style=" width: 200px; 
                                                height: 150px; 
                                                object-fit: cover; 
                                                border-radius: 5px; ">
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                        <td> <a class="btn btn-sm btn-warning"
                                                href="{% url 'confirm_unverified_user' user.email %}"
                                                onclick="return confirm('User {{user.email}} will be verified!')">
                                                Verify! </a>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->
<script>
    // Add an event listener to all verification images
    var verificationImages = document.querySelectorAll('.verification-image');
    verificationImages.forEach(function (image) {
        image.addEventListener('click', function () {
            openFullscreen(this);
        });
    });

    // Function to open the image in full screen
    function openFullscreen(image) {
        if (image.requestFullscreen) {
            image.requestFullscreen();
        } else if (image.mozRequestFullScreen) { // Firefox
            image.mozRequestFullScreen();
        } else if (image.webkitRequestFullscreen) { // Chrome, Safari and Opera
            image.webkitRequestFullscreen();
        } else if (image.msRequestFullscreen) { // IE/Edge
            image.msRequestFullscreen();
        }
    }

</script>

{% endblock %}