{% if messages %}

{% for message in messages %}
<div id="message" class=" container mt-2">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
        <button type="button" class="btn btn-sm close" data-dismiss="alert"><span
                aria-hidden="true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Add click event handler for close button
        $('.close').on('click', function () {
            // Find the closest parent container and hide it
            $(this).closest('.container').hide();
        });
    });
</script>
{% endfor %}

{% endif %}