{% load static %}

<header class="section-header ">
  <section class=" header-main border-bottom">

    <div class="container" style="margin-bottom: -10px;">
      <nav class="navbar ">
        <!-- Left Side -->
        <ul class="nav">
          <div>
            <a style="width: 100px;" href="{% url 'home' %}"><img style="width: 20px;"
                src="{% static './images/logo-mini.svg' %}" alt="logo" /></a>
            </a>
            <a style="width: 100px;" href="{% url 'home' %}"><img style="width: 180px;"
                src="{% static './images/logo.svg' %}" alt="logo" /></a>
            </a>

          </div>

        </ul>

        <!--Right side-->
        <ul class="nav justify-content-end ">
          {% if user.id is None and user.is_buyer == False %}
          <div class="widget-header">
            <small class="title text-muted">Welcome guest</small>
            <div>
              <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
              <a href="{% url 'buyer_register' %}"> Register</a>
            </div>
          </div>
          {% elif user.is_buyer == True %}
          <!-- -->
          <div class="widget-header">
            <small class="title text-muted">Welcome {{user.username}}</small>
          </div>
          <a href="{% url 'dashboard' %}" class="widget-header pl-3 ">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></div>
          </a>
          <a href="{% url 'cart' %}" class="widget-header pl-3 ">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
          {% else %}
          <div class="widget-header">
            <small class="title text-muted">Welcome guest</small>
            <div>
              <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
              <a href="{% url 'buyer_register' %}"> Register</a>
            </div>
          </div>
          {% endif %}
        </ul> <!-- widgets-wrap.// -->


      </nav> <!-- row.// -->
    </div> <!-- container.// -->

  </section> <!-- header-main .// -->





</header> <!-- section-header.// -->