{% extends '../seller_base.html' %}
{% load static %}
{% block content %}
<!-- partial:partials/_sidebar.html -->
{% include 'includes/seller_sideNav.html' %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Product</h4>
                    <form class="form-sample" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card " style="text-align: center; border: none; ">
                                    <a href="#" class="img-wrap"> <img src="{{ product.images.url }}">
                                    </a>
                                </div>
                            </div>


                            <div class="col-md-6 mt-5">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Product Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value='{{product.product_name}}'
                                            name="product_name" />
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Discription.</label>
                                    <div class="col-sm-9">
                                        <textarea name="description" value="{{product.description}}"
                                            style="border-color: rgba(193, 209, 209, 0.452); padding: 10px;" rows="6"
                                            cols="35">
                                        {{product.description}}
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="card-description">Change Values </p>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Price</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" value="{{product.price}}"
                                            name="price" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Stock</label>
                                    <div class="col-sm-4">
                                        <input type="number" name="stock" value="{{product.stock}}"
                                            class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Category</label>
                                    <div class="col-sm-9">


                                        <select class="form-control" name="category">


                                            <option value="{{category.category_name}}">{{category.category_name}}
                                            </option>
                                            {% for category in categories %}
                                            <option value="{{category.category_name}}">{{category.category_name}}
                                            </option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-success  ">Save</button>
                        <button class="btn btn-light ">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->


<!-- Bootstrap4 files-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<!-- custom style -->
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />



</body>


</html>
{% endblock %}