{% extends '../delivery_base.html' %}
{% load static %}
{% block content %}

<!-- partial:partials/_sidebar.html -->
{% include 'delivery_company/includes/side_nav.html' %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    {% include 'includes/admin_alert.html' %}
                    <div class="card-body">
                        <h4 class="card-title">Ordered Products Buy Buyers</h4>
                        <div class="search-field d-none d-md-block ">
                        </div>
                        <div class="container">
                            <!--Orders by Buyers-->

                            <article class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h6 class="text-muted">Company </h6>
                                            <span>Name: {{company.company_name}} </span><span class="b">
                                                |@Engebeyay</span><br>
                                            <span>Total Orders!</span>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="text-muted">Delivery</h6>
                                            Delivery fee: 30birr per 1KM <br>
                                        </div>
                                    </div>
                                    <br>
                                    <form action=" {% url 'assign_delivery' %}" method="post">
                                        {% csrf_token %}
                                        <div class="card-body border">
                                            {% if not orders%}
                                            <h5 class="text-muted"> <b>There are no orders yet!</b> </h5>
                                            {%else%}

                                            {% for order in orders %}
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <p>
                                                        <b>Order Number</b>: {{order.order_number}} <br>
                                                        <input type="hidden" name="order"
                                                            value="{{order.order_number}}">
                                                        <b>Order Date</b>: {{order.date_added}} <br>
                                                        <b>Reciver</b>: {{order.reciver_name}}
                                                        <input type="hidden" name="reciver"
                                                            value="{{order.user.email}}">
                                                    </p>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="col mb-2">
                                                        <select class="form-control" name="delivery_guy" required>
                                                            {% for delivery_guy in delivery_guys %}
                                                            <option disabled selected> Select Delivery Guy</option>
                                                            <option value="{{delivery_guy.user.email}}">
                                                                {{delivery_guy.first_name}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <input type="submit" class="btn btn-warning btn-sm"
                                                        value=" Assign Order">
                                                </div>
                                            </div>
                                            <div class="row ">

                                                {% for orderditem in orderditems %}
                                                {% if orderditem.order.order_number == order.order_number %}
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-6 mb-3">
                                                    Item: <b> {{orderditem.product.product_name}}</b> <br>
                                                    from: {{orderditem.product.owner.buisness_name}}
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="ml-1 price text-muted">Quantity:
                                                        {{orderditem.quantity}}</div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <hr>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->
<!--Table Search-->
<!--Table Search-->
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}