{% extends '../admin_base.html' %}
{% load static %}
{% block content %}

<!-- partial:partials/_sidebar.html -->

<!-- partial:partials/_sidebar.html -->
{% include 'includes/admin_sideNav.html' %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12">
            <div class="card">

                <div class="card-body">


                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Messages</h3>

                                <table class="table table-striped">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        {% for message in messages %}
                                        <tr>
                                            <td>From User</td>
                                            <td>Content: {{ message.content }}</td>
                                            <td>Time: {{ message.timestamp }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}