{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Billing Address</h4>
            <form action="{% url 'place_order' %}" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col form-group">
                  <label for="">Reciver's Name</label>
                  <input type="text" name="reciver_name" class="form-control" value="" required>
                </div>
                <div class="col form-group">
                  <label for="">Phone Number</label>
                  <input type="text" name="phone" value="" class="form-control" required>
                </div>
              </div>
              <!--
              <div class="form-row">
                <i class="fa fa-truck" aria-hidden="true"> <label for=""> Select Delivery Company</label></i>
                <select class="form-control" name="delivery">
                  {% for delivery in deliverys %}
                  <option value="{{delivery.user.email}}">{{delivery.company_name}} in {{delivery.location}},
                    {{delivery.delivery_fee}} per/KM </option>
                  {% endfor %}
                </select>
              </div>
-->
              <!-- ============================ Map  ================================= -->
              <div id="pac-card">
                <hr>
                <i class="fa fa-map-marker" aria-hidden="true"> <label for="">Select Delivery Location</label></i>

                <div id="pac-container">
                  <input class="form-control"  id="search-box" type="text" placeholder="Enter a location" />
                  <input type="hidden" id="latitude-input" name="latitude">
                  <input type="hidden" id="longitude-input" name="longitude">
                </div>
              </div><br>
              <div id="map" style="height: 400px;
              width: 100%;"></div>

              <!-- ============================ Map End  ================================= -->
          </div>
        </div>
      </aside>
      <!-- ============================ COMPONENT 2 ================================= -->
      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Quantity</th>
                  <th scope="col" width="120">Price</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr>
                  <td>
                    <figure class="itemside align-items-center">
                      <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                      <figcaption class="info">
                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                          {{cart_item.product.product_name}}</a>
                        <p class="text-muted small">
                          {% if cart_item.variations.all %}
                          {% for item in cart_item.variations.all %}
                          {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                          {% endfor %}
                          {% endif %}
                        </p>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <!-- col.// -->
                    <label for="">{{cart_item.quantity}}</label>
                  </td>
                  <td>
                    <div class="price-wrap">
                      <var class="price"> {{ cart_item.sub_total }} birr</var>
                      <small class="text-muted"> {{cart_item.product.price}} birr each </small>
                    </div> <!-- price-wrap .// -->
                  </td>

                </tr>
                {% endfor %}

              </tbody>
            </table>
            <a href="{% url 'store' %}" class="btn btn-light ">Continue Shopping</a>
            {% if user.is_buyer == True %}
            <button type="submit" name="submit" class="btn btn-success ">Place Order</button>
            {%else%}
            <a href="{% url 'buyer_register' %}" type="submit" class="btn btn-success ">Place Order</a>
            {% endif %}

            </form>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->


      </aside> <!-- col.// -->


    </div> <!-- row.// -->

    <!-- ============================ COMPONENT 1 END .// ================================= -->

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- Script For Map -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&libraries=places&callback=initMap"></script>

<script>
  function initMap() {
    const mapOptions = {
      center: { lat: 7.06205, lng: 38.47635 },
      zoom: 13
    };

    const map = new google.maps.Map(document.getElementById("map"), mapOptions);

    // Create the search box and link it to the UI element.
    const input = document.getElementById("search-box");
    const autocomplete = new google.maps.places.Autocomplete(input);

    // Bias the autocomplete results towards the map's viewport.
    autocomplete.bindTo("bounds", map);

    const marker = new google.maps.Marker({
      map: map
    });

    // When a place is selected from the autocomplete suggestions.
    autocomplete.addListener("place_changed", () => {
      const place = autocomplete.getPlace();

      if (!place.geometry || !place.geometry.location) {
        window.alert("No details available for input: '" + place.name + "'");
        return;
      }

      // Set the marker position to the selected place's location.
      marker.setPosition(place.geometry.location);
      marker.setVisible(true);

      // Update hidden input fields with the latitude and longitude values.
      document.getElementById("latitude-input").value = place.geometry.location.lat();
      document.getElementById("longitude-input").value = place.geometry.location.lng();

      // Center and zoom the map to the selected place.
      map.setCenter(place.geometry.location);
      map.setZoom(17);
    });

    // Event listener for map click
    map.addListener("click", (event) => {
      // Set the marker position to the clicked location.
      marker.setPosition(event.latLng);
      marker.setVisible(true);

      // Update hidden input fields with the latitude and longitude values.
      document.getElementById("latitude-input").value = event.latLng.lat();
      document.getElementById("longitude-input").value = event.latLng.lng();

      // Center the map to the clicked location.
      map.setCenter(event.latLng);
    });
  }

</script>


{% endblock %}