{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f5f5;">
	<!-- Container wrapper -->

	<!-- Navbar -->

	<!-- Container wrapper -->
	<div class="container justify-content-center justify-content-md-between">
		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeftAlignExample"
			aria-controls="navbarLeftAlignExample" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarLeftAlignExample">
			<!-- Left links -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-dark" href="#">Customer Service</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" href="{% url 'fov_item'%}">Favorite Items</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" href="#">Gift boxes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" href="{% url 'seller_join'%}"> Start Selling</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" href="{% url 'delivery_join'%}">Join Delivery</a>
				</li>

				<!-- Navbar dropdown -->

			</ul>
			<!-- Left links -->
		</div>
	</div>
	<!-- Container wrapper -->

	<!-- Container wrapper -->
</nav>
<nav class="navbar navbar-muted bg-muted">
	<div class="col-md col-6 ">
		<div class="category-wrap dropdown d-inline-block float-right">
			<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-bars"></i> Select category
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'store' %}">All Products </a>
				{% for category in links %}
				<a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
				{% endfor %}
			</div>
		</div> <!-- category-wrap.// -->
	</div> <!-- col.// -->
	<div class="col-md-4 col-sm-12 col">
		<form action="{% url 'search' %}" class="search" method='GET'>
			<div class="input-group w-100">
				<input type="text" class="form-control" required style="width:60%;" placeholder="Search" name="keyword">
				<div class="input-group-append">
					<button class="btn btn-warning" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</form> <!-- search-wrap .end// -->
	</div> <!-- col.// -->

</nav>
<!--Search ends here-->
<div class="container">
	{% if 'search' in request.path %}
	<h2 class="title-page">Search Result</h2>
	{% else %}

	{% endif %}

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">

			<main class="col-md-12">

				<header class="border-bottom mb-4 pb-3">

				</header><!-- sect-heading -->

				<div class="row">
					{% if products %}
					{% for product in products %}
					<div class="col-md-4">
						<figure class="card card-product-grid">
							<div class="img-wrap">
								<a href="{{ product.get_url }}"><img src="{{ product.images.url }}"></a>
							</div>
							<div class="card-body d-flex flex-column">
								<h5 class="card-title">{{ product.product_name }}</h5>
								<h6 class="card-title">Price: {{ product.price }} birr</h6>
								<p class="card-text">{{ product.description }}</p>
								<div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
									<a href="{{ product.get_url }}" class="btn btn-warning shadow-0 me-1">view
										Detail</a>
									{% if fov_products %}
									{% for fov_product in fov_products %}
									{% if fov_product.product == product %}
									<form action="{% url 'remove_favorite' %}" method="post">
										{% csrf_token %}
										<input type="hidden" name="product" value="{{product.product_id}}">
										<button class="btn btn-light border icon-hover px-2 pt-2 ml-2" type="submit"><i
												class="fas fa-heart fa-lg text-danger px-1"></i>
										</button>
									</form>
									{% endif %}
									{% endfor %}
									{% else %}
									<form action="{% url 'add_favorite' %}" method="post">
										{% csrf_token %}
										<input type="hidden" name="product" value="{{product.product_id}}">
										<button class="btn btn-light border icon-hover px-2 pt-2 ml-2" type="submit"><i
												class="fas fa-heart fa-lg text-light px-1"></i>
										</button>
									</form>

									{% endif %}
								</div>
							</div>

						</figure>
					</div>
					{% endfor %}

				</div>

				{% else %}
				<div>
					<h2>No result found. Please try again.</h2>
				</div>
				{% endif %}
		</div> <!-- row end.// -->


		<nav class="mt-4" aria-label="Page navigation sample">
			{% if products.has_other_pages %}
			<ul class="pagination">
				{% if products.has_previous %}
				<li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a>
				</li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
				{% endif %}

				{% for i in products.paginator.page_range %}
				{% if products.number == i %}
				<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
				{% else %}
				<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
				{% endif %}
				{% endfor %}

				{% if products.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a>
				</li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
				{% endif %}
			</ul>
			{% endif %}
		</nav>

		</main> <!-- col.// -->

	</div>


	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}