{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
		<h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
		<div class="row">

			<aside class="col-lg-8">
				<div class="card">
					<h5 class="card-header">Billing Address</h5>
					<div class="card-body">
						<p class="card-text mb-0">Reciver Name: {{order.reciver_name}}</p>
						<p class="card-text mb-0">Phone Number: {{order.phone}}</p>
						{% if order.order_note %}

						{% endif %}


					</div>
				</div>
				<div class="card">
					<h5 class="card-header">Review Products</h5>
					<div class="card-body">
						<table class="table table-borderless table-shopping-cart">
							<thead class="text-muted">
								<tr class="small text-uppercase">
									<th scope="col">Product</th>
									<th scope="col" width="120">Quantity</th>
									<th scope="col" width="120">Price</th>

								</tr>
							</thead>
							<tbody>

								{% for cart_item in cart_items %}
								<tr>
									<td>
										<figure class="itemside align-items-center">
											<div class="aside"><img src="{{ cart_item.product.images.url }}"
													class="img-sm"></div>
											<figcaption class="info">
												<a href="{{ cart_item.product.get_url }}" class="title text-dark">
													{{cart_item.product.product_name }}</a>
												<p class="text-muted small">
													{% if cart_item.variations.all %}
													{% for item in cart_item.variations.all %}
													{{ item.variation_category | capfirst }} :
													{{ item.variation_value |capfirst }} <br>
													{% endfor %}
													{% endif %}
												</p>
											</figcaption>
										</figure>
									</td>
									<td>
										<!-- col.// -->
										<label for="">{{cart_item.quantity}}</label>
									</td>
									<td>
										<div class="price-wrap">
											<var class="price">{{ cart_item.sub_total }} birr</var>
											<small class="text-muted"> {{ cart_item.product.price }} birr each </small>
										</div> <!-- price-wrap .// -->
									</td>

								</tr>
								{% endfor %}

							</tbody>
						</table>

					</div>
				</div>

			</aside> <!-- col.// -->
			<aside class="col-lg-4">

				<div class="card">
					<div class="card-body">
						<h5 class="card-header">Complete Payment</h5>
						<br>
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right">{{total}} birr</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Tax:</dt>
							<dd class="text-right"> {{tax}} birr</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Grand Total:</dt>
							<dd class="text-right text-dark b"><strong>{{grand_total}} birr</strong></dd>
						</dl>
						<hr>
						<form id="payment" action="https://test.yenepay.com/" method="POST">

							{% csrf_token %}
							<input type="hidden" name="Process" value="Express">
							<input type="hidden" name="MerchantOrderId" value="{{order}}">
							<input type="hidden" name="MerchantId" value="{{merchant_id}}">
							<input type="hidden" name="IPNUrl" value="">
							<input type="hidden" name="SuccessUrl"
								value="{{url}}/orders/order_complete">
							<input type="hidden" name="CancelUrl" value="{{url}}/order_cancelled">
							<input type="hidden" name="ItemId" value="d876e471-4c29-40f8-8144-c5c6ffdbcc01">
							<input type="hidden" name="ItemName" value="{{order}}">
							<input type="hidden" name="UnitPrice" value="{{ grand_total }}">
							<input type="hidden" name="Quantity" value="1">
							<dl class="dlist-align">
								<dt><label for=""><b> pay with Yenepay</b></label></dt>
								<dd class="text-right"> <button class="btn btn" type="submit"><img style="width: 120px;"
											src="{% static './images/Bank-Img/YenepayLogo.png' %}"></button></dd>
							</dl>
						</form>
						<!--<a class="navbar-brand" href="#"><img src="/images/logo.png" style="height:65px" /></a>-->

					</div> <!-- card-body.// -->
				</div> <!-- card.// -->

			</aside> <!-- col.// -->


		</div> <!-- row.// -->

		<!-- ============================ COMPONENT 1 END .// ================================= -->

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}